body {
    font: 11pt helvetica, arial, sans-serif;
}

#container {
    margin: 0 30px;
    background: #fff;
    position: relative;
    
}

#header {
    background: #ccc;
    padding: 20px;
}

#header h1 {
    margin: 0;
}

#navigation {
    float: left;
    width: 100%;
    background: #333;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover {
    background: #383;
}

#leftside{
    float: left;
    width: 70%;
}

#content {
    clear: left;
    padding: 20px;
}

#content h2
{
color: #000;
font-size: 160%;
margin: 0 0 .5em;
}

#rightside{
    float: right;
    width: 30%;
}

#sidebar {
    clear: right;
    padding: 20px;
    background: #ccc;
    min-height: 300px;
}

#sidebar h3
{
color: #000;
margin: 0 0 .5em;
}

#footer {
    background: #ccc;
    text-align: right;
    padding: 20px;
    height: 1%;
    clear: left;
}